<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Regression_Suite" verbose="1">
	<listeners>
		<listener class-name="com.eagle.Reports.TestListener" />
	</listeners>
	<test name="Regression Test cases" preserve-order="true">
		<classes>
		<class name="com.eagle.TestCases.LoginRegression" />
	
		<class name="com.eagle.TestCases.SetRegression" />
		
		
		   
		  
		  
           
		
			
		
			
			
			
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
